<!-- <div class="px-5 py-5">
    <style>
        .product-img-container {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../../../assets/static/images/product-placeholder.png");
            height: 500px;
            width: 500px;
        }
    </style>
    <div class="d-flex m-5">
        <div 
            class="product-img-container mx-5" 
            *ngIf="product != undefined"
            [style.backgroundImage]="'url(' + product.imageUrl + ')'"
        >{{product.image}</div>
        <div 
            *ngIf="product != undefined"
            class="col-6 rounded px-5 pt-5 pb-3" 
            style="border: 1px solid white;"
        >
            <h2>{{ product.name }}</h2>
            <p class="text-muted">Added on {{ product.addedOn | date: 'MMM d'}}</p>
            <div class="d-flex mt-5" style="justify-content: space-between; align-items: center;">
                <h1>${{ product.price | number : '1.2-2' }}</h1>
               
            </div>
            <h5 class="my-4">Description</h5>
            <p style="text-align: justify; font-size: 14px;">
                {{ product.description }}
            </p>
        </div>
        <h1 
            *ngIf="product == undefined"
            class="mx-auto" 
            style="text-align: center; margin-top: 10rem;"
        >Product not found</h1>
    </div>
</div> -->
<!-- <div class="px-5 col-12" style="margin-top: 5rem;">
    <h1 class="mx-auto text-center mb-5">Add Product</h1>
    <form class="col-7 mx-auto mt-5" action="" (submit)="addProduct()">
        <div class="d-flex col-12 my-3">
            <input 
                type="text" 
                placeholder="id" 
                name="productid" 
                id="productid" 
                style="flex: 1; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light"
                [(ngModel)]="productid"
            />
            <input 
                type="text" 
                placeholder="Name" 
                name="Name" 
                id="Name" 
                style="flex: 2; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light" 
                [(ngModel)]="Name"
            />
        </div>
        <div class="d-flex col-12 my-3">
            <input 
                type="text" 
                placeholder="Description" 
                name="Description" 
                id="Description" 
                style="flex: 1; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light"
                [(ngModel)]="Description"
            />
            <input 
                type="text" 
                placeholder="Price" 
                name="price" 
                id="price" 
                style="flex: 1; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light" 
                [(ngModel)]="price"
            />
        </div>
        <div class="d-flex col-12 my-3">
            <input 
                type="text" 
                placeholder="Address" 
                name="address" 
                id="address" 
                style="flex: 4; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light"
                [(ngModel)]="address"
            />
            <input 
                type="text" 
                placeholder="AddedOn" 
                name="addedon" 
                id="addedon" 
                style="flex: 2; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light" 
                [(ngModel)]="addedon"
            />
        </div>
        <input 
            type="text" 
            placeholder="Image" 
            name="image" 
            id="image" 
            style="border: 1px solid #fffa;" 
            class="mx-3 bg-transparent rounded p-2 col-4 d-block text-light" 
            [(ngModel)]="image"
        />
        <input 
            type="text" 
            placeholder="Stock" 
            name="stock" 
            id="stock" 
            style="border: 1px solid #fffa;" 
            class="mx-3 bg-transparent rounded p-2 col-4 d-block text-light" 
            [(ngModel)]="stock"
        />
        <input 
            type="text" 
            placeholder="Category_Id" 
            name="category_id" 
            id="category_id" 
            style="border: 1px solid #fffa;" 
            class="mx-3 bg-transparent rounded p-2 col-4 d-block text-light" 
            [(ngModel)]="category_id"
        />
        <input 
            type="submit"
            value="Register" 
            style="border: 1px solid #fffa;" 
            class="mx-3 mt-5 rounded p-2 col-2 d-block btn btn-primary" 
        />
        <h4 
            *ngIf="error"
            style="text-align: center;" 
            class="alert-danger p-2 m-5 rounded"
        >{{error}}</h4>
    </form>
</div> -->


<!-- add product -->

<div class="container">

    <div class="row"><br><br><br></div>
    <div class="row">
        <h1 style="color: white; text-align: center;">Add Products</h1>
    </div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div [hidden]="submitted" style="width: 400px;"></div>
            <form (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <!-- <label for="productId">Product ID: </label>
      <input type="text" class="form-control" id="exampleInputEmail1" formControlName="id" /> -->
                </div>

                <div class="form-group">
                    <label for="productName">Product Name:</label>
                    <input type="text" class="form-control" id="productname" required [(ngModel)]="product.name"
                        name="productName" />
                </div>



                <div class="form-group">
                    <label for="productRate">Product Discription:</label>
                    <input type="text" class="form-control" id="discription" [(ngModel)]="product.description"
                        name="discription" />
                </div><br>

                <!-- <div class="form-group">
        <label for="productRate">Product Stock:</label>
        <input type="text" class="form-control" id="exampleInputPassword1" formControlName="stock"/>
      </div><br> -->

                <div class="form-group">
                    <label for="productRate">Added On:</label>
                    <input type="datetime" class="form-control" id="exampleInputPassword1" [(ngModel)]="product.addedOn"
                        name="addedon" />
                </div><br>

                <!-- <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                        #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                    <div class="form-group">
                        <label for="productRate">Product Price:</label>
                        <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="product.price"
                            name="price" />
                    </div><br>
                    <button type="submit" class="p-3 mb-2 bg-dark text-white">Add</button><br><br>
                </div> -->
            </form><br><br>
            <hr>
        </div>





        <!-- <div class="form-group">
      <label for="productRate">Product Image URL:</label>
      <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)] = "product.imageUrl"/>
    </div><br> -->

        <!-- <div class="form-group">
        <label for="productCategory">Product CategoryID:</label>
        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="categoryId"/>
    
      </div>
   -->

        <!-- <div [hidden]="!submitted">
    <h4>You submitted successfully!</h4>
     
  </div> -->
        <div class="col-3"></div>


    </div>
