
<br>

<div class="container">
<table class="table table-bordered">
    <thead>
      <tr>
        <th  scope="col">Order Id</th>
        <th scope="col">Added Date</th>
        <th scope="col">Quantity</th>
        <th scope="col">User Id</th>
        <th scope="col">Product Id</th>
      </tr>
    </thead>
    
    <tbody>
      <tr>
        <tr scope= "col" *ngFor= "let order of orders">
         <td>{{order.id}}</td>
        <td>{{order.addedOn}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.product.id}}</td>
        <td>{{order.user.id}}</td>
      </tr>

     


     


<br>



    



   
