<div class="container">
    <div class="row p-5 m-5">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <h1>Orders</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <div *ngIf="role==='admin'"class="row p-2 m-2">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <button type="button" class="btn btn-light">Add Product</button><br><br>
            <button type="button" class="btn btn-light">Add Product Category</button><br><br>
            <button type="button" class="btn btn-light">Add Admin</button><br><br>
        </div>
       
        <div class="col-3">
           
        </div>
    </div>

    <div *ngIf="role==='user'"class="row p-2 m-2">
        <div class="col-3"></div>
        <div class="col-6 text-center">
            <button type="button" class="btn btn-light">Start Shoping</button><br><br>
        </div>
       
        <div class="col-3">
           
        </div>
    </div>
</div>
<br><br><br><br><br>
