<div>
    <style>
        * {
            color: white;
        }
        nav {
            box-shadow: 5px 5px 20px #000;
        }
    </style>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-12 px-5 mb-5 fixed-top">
        <a class="navbar-brand"routerLink="shop">Amazon</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse d-flex" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="flex-grow: 1;">
            <li class="nav-item">
                <a class="nav-link" routerLink="shop">Shop</a>
            </li>
            <li *ngIf="!isTokenThere" class="nav-item" >
              <a class="nav-link" routerLink="register">Register</a>
            </li>
            <li *ngIf="!isTokenThere" class="nav-item">
                <a class="nav-link" routerLink="login">Login</a>
            </li>   <li *ngIf="!isTokenThere" class="nav-item">
                <a class="nav-link" routerLink="adminlogin">Admin Login</a>
            </li>
    
          </ul>
          <form class="form-inline my-2 my-lg-0 d-flex" (submit)="search()">
            <input 
                class="form-control mr-sm-2 bg-transparent text-success" 
                type="search" 
                placeholder="Search products" 
                aria-label="Search"
                [(ngModel)]="term"
                name="term"
            >
            <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">Search</button>
          </form>
          <div *ngIf="isTokenThere && role==='user'" class="nav-item">
            <a class="nav-link" routerLink="cart"> Cart <fa-icon [icon]="cart" style="size: 1px;"></fa-icon></a>
          </div>
          <div *ngIf="isTokenThere" class="nav-item">
            <a class="nav-link" routerLink="account"><fa-icon [icon]="user" style="size: 1px;"></fa-icon></a>
          </div>
          
        </div>
      </nav>
     
    
    <router-outlet></router-outlet>
    
</div>
    <footer class="footer-section">
      <div class="container">
          <div class="footer-cta pt-5 pb-5">
             
          </div>
          <div class="footer-content pt-5 pb-5">
              <div class="row">
                  <div class="col-xl-4 col-lg-4 mb-50">
                      <div class="footer-widget">
                          <div class="footer-logo">
                              <a href="index.html"><img src="../assets/static/images/amazon.png" class="img-fluid" alt="logo"></a>
                          </div>
                          <div class="footer-text">
                              <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec tetur adipisicing
                              elit,Lorem ipsum dolor sit amet.</p>
                          </div>
                          <div class="footer-social-icon">
                              <span>Follow us</span>
                              <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                              <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                              <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                      <div class="footer-widget">
                          <div class="footer-widget-heading">
                              <h3>Useful Links</h3>
                          </div>
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">about</a></li>
                              <li><a href="#">services</a></li>
                              <li><a href="#">portfolio</a></li>
                              <li><a href="#">Contact</a></li>
                              <li><a href="#">About us</a></li>
                              <li><a href="#">Our Services</a></li>
                              <li><a href="#">Expert Team</a></li>
                              <li><a href="#">Contact us</a></li>
                              <li><a href="#">Latest News</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                      <div class="footer-widget">
                          <div class="footer-widget-heading">
                              <h3>Subscribe</h3>
                          </div>
                          <div class="footer-text mb-25">
                              <p>Don’t miss to subscribe to our new feeds, kindly fill the form below.</p>
                          </div>
                          <div class="subscribe-form">
                              <form action="#">
                                  <input type="text" placeholder="Email Address">
                                  <button><i class="fab fa-telegram-plane"></i></button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="copyright-area">
          <div class="container">
              <div class="row">
                  <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                      <div class="copyright-text">
                          <p>Copyright &copy; 2018, All Right Reserved </p>
                      </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                      <div class="footer-menu">
                          <ul>
                              <li><a href="#">Home</a></li>
                              <li><a href="#">Terms</a></li>
                              <li><a href="#">Privacy</a></li>
                              <li><a href="#">Policy</a></li>
                              <li><a href="#">Contact</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
